<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="blocks">
      <div class="block create">
        <button class="btn create-game">Create new game!</button>
      </div>
      <div class="block join">
        <input placeholder="Write your id here" type="text" class="get-id" />
        <button class="btn join-game">Join a game!</button>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
